<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Noto+Serif:wght@400;500;700&display=swap" rel="stylesheet">
    <title>OJJO</title>
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <div class="header__container">
                <nav class="menu">
                    <ul class="menu__list">
                        <li class="menu__item"><a href="#" class="menu__link">Контрагентам</a></li>
                        <li class="menu__item"><a href="#" class="menu__link">Дизайнерам</a></li>
                        <li class="menu__item"><a href="#" class="menu__link">Вакансии</a></li>
                    </ul>
                </nav>
                <a class="header__logo" href="../Home/index.html"><img src="../Home/images/header_logo.svg" alt="LOGO"></a>
                <div class="menu_info">
                    <div class="menu__search">
                        <img src="../Home/images/menu_info.svg" alt="#">
                        <p>Поиск</p>
                    </div>
                    <div class="menu__log">
                        <p>Вход</p>
                        <span> / </span>
                        <p>Регистрация</p>
                    </div>
                    <div class="menu__notes">
                        <img data-name='man' src="../Home/images/menu_info1.svg" alt="#">
                        <img data-name='heart' src="../Home/images/menu_info2.svg" alt="#">
                        <!-- <div class="heart"></div> -->
                    </div>
                </div>
            </div>
        </header>
        <main class="main">
            <section class="sec_1">
                <div class="main__container sec1__container">
                    <div class="section__direct"><span>Главная</span> / <span>Каталог</span> / <span>Категория</span> / <span>Подвеска Dolce & Gabarra</span></div>
                    <div class="good__item">
                        
                    </div>
                </div>
            </section>
            <section class="sec_2">
                <div class="simular__container">
                    <div class="sim__sup">Мы подготовили для вас кое-что еще</div>
                    <div class="sim__title">Товары, которые могут Вам понравиться</div>
                    <div class="sim__item">
                        
                    </div>
                </div>
            </section>
            <section class="sec_7">
                <div class="main__container sec7_container">
                    <div class="sec7__sup">Полезные советы и персональный предложения</div>
                    <div class="sec7__title">Эксклюзивная рассылка</div>
                    <div class="form__body">
                        <ul class="form__list">
                            <li class="form__item">Личный менеджер</li>
                            <li class="form__item">Доставка и оформление</li>
                            <li class="form__item">Индивидуальный дизайн</li>
                        </ul>
                        <div class="shell_form">
                            <form class="form">
                                <input type="email" placeholder="ВАШ E-MAIL">
                                <button>отправить</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="form__image">
                    <img src="../Home/images/sec_4/bg.png" alt="#">
                </div>
            </section>
            <section class="sec_addition">
                <div class="addition__container">
                    <div class="addition__article">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus unde magni reprehenderit vel quasi enim quisquam quos optio illo odit dolore voluptatibus est, voluptate aliquam voluptatum incidunt eius, consectetur laudantium. Dolores, accusamus minima? Corporis voluptates doloribus ab, velit tempore sequi obcaecati adipisci porro in magnam nostrum recusandae quod perspiciatis dolorum nisi repellat illum accusantium culpa unde, minima vel. Delectus obcaecati earum reiciendis deserunt sapiente recusandae iusto tempore vitae, dolores sint similique modi ex voluptatibus numquam autem culpa aliquid quam quasi nihil cupiditate blanditiis cumque aperiam. Ipsam modi cupiditate iste impedit officia incidunt, animi aliquam eius dolore ut velit dolor nisi delectus sit hic pariatur. Cupiditate quaerat eligendi vero harum enim!</div>
                    <div class="addition__services">
                        <div class="services_item">
                            <div class="services_image"><img src="../Catalog/images/services/delivery.svg" alt="#"></div>
                            <div class="services__title">Бесплатная доставка</div>
                        </div>
                        <div class="services_item">
                            <div class="services_image"><img src="../Catalog/images/services/list.svg" alt="#"></div>
                            <div class="services__title">Индивидуальный дизайн</div>
                        </div>
                        <div class="services_item">
                            <div class="services_image"><img src="../Catalog/images/services/ribbon-design.svg" alt="#"></div>
                            <div class="services__title">Бесплатная примерка</div>
                        </div>
                        <div class="services_item">
                            <div class="services_image"><img src="../Catalog/images/services/jewelry.svg" alt="#"></div>
                            <div class="services__title">Личный подход</div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <footer class="footer">
            <div class="footer__container">
                <div class="footer__columns">
                    <div class="column__item">
                        <div class="column__item-title">Полезные ссылки</div>
                        <ul class="column__item-list">
                            <li class="column__item-item"><a href="#">Доставка</a></li>
                            <li class="column__item-item"><a href="#">Оплата</a></li>
                            <li class="column__item-item"><a href="#">Акции</a></li>
                            <li class="column__item-item"><a href="#">Политика конфиденциальности</a></li>
                        </ul>
                    </div>
                    <div class="column__item">
                        <div class="column__item-title">оплата</div>
                        <ul class="column__item-list">
                            <li class="column__item-item">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ullamcorper justo, nec, pellentesque.</li>
                            <li class="column__item-item">
                                <a href="#"><img src="../Home/images/footer/visa.svg" alt="#"></a>
                                <a href="#"><img src="../Home/images/footer/master-card.svg" alt="#"></a>
                            </li>
                        </ul>
                    </div>
                    <div class="column__item">
                        <div class="column__item-title"><a href="../Contact/index.html">контакты</a></div>
                        <ul class="column__item-list">
                            <li class="column__item-item">
                                <img src="../Home/images/footer/phone.svg" alt="#">
                                <div>8 (812) 234-56-55</div>
                            </li>
                            <li class="column__item-item">
                                <img src="../Home/images/footer/phone.svg" alt="#">
                                <div>8 (812) 234-56-55</div>
                            </li>
                            <li class="column__item-item">
                                <img src="../Home/images/footer/message.svg" alt="#">
                                <div><a href="#">ojjo@ojjo.ru</a></div>
                            </li>
                        </ul>
                    </div>
                    <div class="column__item">
                        <div class="column__item-title">социальные сети</div>
                        <ul class="column__item-list">
                            <li class="column__item-item">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ullamcorper justo, nec, pellentesque.</li>
                            <li class="column__item-item social-network">
                                <a><img src="../Home/images/footer/social-network/youtube.svg" alt="#"></a>
                                <a><img src="../Home/images/footer/social-network/vk.svg" alt="#"></a>
                                <a><img src="../Home/images/footer/social-network/fb.svg" alt="#"></a>
                                <a><img src="../Home/images/footer/social-network/tg.svg" alt="#"></a>
                                <a><img src="../Home/images/footer/social-network/e.svg" alt="#"></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="footer__other">
                    <div class="other__info"><a href="#">(c) 2020 OJJO jewelry</a></div>
                    <div class="other__info"><a href="#">Договор публичной офферты</a></div>
                    <div class="other__info"><a href="#">Контрагентам</a></div>
                    <div class="other__info"><a href="#">Сделано Figma.info</a></div>
                </div>
            </div>
        </footer>
    </div>
    <script src="card.js"></script>
    <script type="module" src="script.js"></script>
</body>
</html>